.main{
  display: flex;
  column-gap: 20px;
}

.news-title{
  background-color: rgb(23, 50, 180);
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-content{
  background-color:  #d0d0d033;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 60px;
  row-gap: 15px;
  border-bottom-style: solid;
  border-bottom-color: rgb(23, 50, 180);
  border-bottom-width: 4px;
}
.news-row-room{
  display: grid;
  grid-template-columns: 200px 50px;
  justify-content: center;
  align-items: center;
  
}

.first-text{
  margin-top: 5px;
}

.writer-profile{
  width: 60px;
  border-radius: 30px;
}
.writer-profile-div{
  padding-top: 20px;
  padding-left: 5px;
}
.writer-name-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.writer-name{
  text-align: end;
  margin-bottom: 0px;
  color: rgb(35, 83, 183);
}
.writer-time{
  color:#837E7E;
}
.content{
  margin-top: 0px;
  background-color: white;
  text-align: end;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  border-color: lightgray;
  float: right;
  justify-content: center;
  align-items: center;
}
.last-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-news-button{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 200px;
  width: 110px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(23, 50, 180);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ad-text{
  display: flex;
  text-align: right;
  font-weight: bold;
  font-size: 22px;
  margin: 0px;
}
.ad-text:hover{
  text-decoration: underline;
}

.branding{
  text-align: right;
  color: #999999;
}

.sponser-taboola{
  display: flex;
  justify-content: left;
  align-items: start;
}

.sponser-taboola:hover{
  text-decoration: underline;
}

.sponser-taboola > a {
  font-size: 12px;
}


.video-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: normal 1.1vw 'blender-regular','Mukta-ExtraBold','south web',Arial,Helvetica,sans-serif;
  background-color: #222222;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 30px;
  padding-left: 5px;
  padding-right: 10px;

}


a {
  color: rgb(27, 27, 27);
  text-decoration: none;
  text-align: right;
  display: block;
}



.top-video{
  position: relative;
  margin-top: 5px;
}
.first-video , .second-video{
position: relative;
}

.video-holder-play-main{
  position: absolute;
  left: 5px;
  bottom: 40px;
}

.maccabi-img{
  width: 100%;
}

.bottom-video-img{
  width: 150px;
  height: 111px;
}

.bottom-video{
  
  display: flex;
  column-gap: 5px;
  margin-top: 5px;
}

.live{
  background-color: #E4025C;
  color: white;
  font: normal 1.1vw 'blender-regular','Mukta-ExtraBold','south web',Arial,Helvetica,sans-serif;
  position: relative;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.symbol{
  padding-left: 10px;
}
.second-div{
  display: flex;
  padding-right: 10px;
}

.text-live-side{
  padding-left: 5px;
}
.day{
  padding-right: 5px;
}


.live-content{
  margin-top: 10px;
}

.scrollable-area{
  overflow: auto;
  position: relative;
  width: 302px;
  height: 250px;
}

.scrollable-area-wrapper{
  width: 290px;
   height: 250px
}

.followMeBar{
  padding-right: 5px;
  padding-top: 5px;
}

.secondCol{
  text-align: right;
}


table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  font-weight: bold;
  font-family:serif;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.btn-prev{
  padding-left: 12px;
}

.btn-prev img{
  width: 9px;
}

.double-pas-div{
  background-color: #1732B3;
  color: white;
  font: normal 1.1vw 'blender-regular','Mukta-ExtraBold','south web',Arial,Helvetica,sans-serif;
  position: relative;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.double-pas-content, .shvoong-content .mako-content{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.mako-content{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.article{
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  margin-top: 5px;
}

.article-content{
  padding-right: 7px;
  position: relative;
}

.article-title{
  font-weight: bold;
}
.article-time{
  position: absolute;
  display: block;
  text-align: right;
  color: #737373;
  font-size: 10px;
  font-weight: bold;
  right: 7px;
  bottom: 0px;
}



.shvoong-div, .mako-div {
  background-color: #3d79b4;
  color: white;
  font: normal 1.1vw 'blender-regular','Mukta-ExtraBold','south web',Arial,Helvetica,sans-serif;
  position: relative;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

}

.arrowlinktitleLeftSide{
  position: absolute;
  left:10px;
  color: white;
}

.link-shvoong {
  display: flex;
  align-items: center;
}


.headerTextLeftRedSide {
  position: absolute;
  color: white;
  right: 10px;
}

.mako-div{
  background-color: rgb(23, 50, 180);
}


.more-news-div{
  background-color: #1732B3;
  height: 30px;
  display: flex;
  justify-content:end;
  align-items: center;
  margin-top: 15px;
}

.more-news-text{
  color: white;
  font-weight: bold;
  padding-right: 5px;
}


.news-box{
  margin-top: 10px;
}



.first-img-news{
  width: 100%;
}

.static-text{
  position: absolute;
  background-color: #a30202;
  color: white;
  align-items: center;
  font-size: 13px;
  left: 0px;
  bottom: 22px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.link-mroe-news{
  font-weight: bold;
  font-size: 20px;
  font-family: normal 1.1vw 'blender-regular','Mukta-ExtraBold','south web',Arial,Helvetica,sans-serif;
}


.link-mroe-news:hover{
  text-decoration: underline;
}




.sports-news{
  margin-top: 15px;
}







.first-news{
  position: relative;
}



.bomba-titles-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #222222bf;
  bottom: 4px;
  margin-bottom: 0px;
}

.bomba-title{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5px;
  padding-right: 8px;
}

.bomba-title-content{
  padding-right: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}

.play-main-article{
  width: 45px;
}

.bomba-subtitle-first-news{
  position: relative;
  color: white;
  padding-right: 8px;
  padding-bottom: 10px;
}


.bomba-subtitle{
  position: relative;
  color: white;
  padding-right: 8px;
  padding-bottom: 10px;
  width: 434px;
  height: 162px;
}


.author-time-container{
  display: flex;
  color: white;
  justify-content: end;
  padding-right: 8px;
}

.publish-time{
  padding-right: 15px;
  font-size: 15px;
}



.col{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(225, 225, 225);
  margin-top: 12px;
}



.other-news{
  display: flex;
  justify-content: end;

}


.profile-article{
  margin-top: 12px;
}


.img-res{
  width: 210px;
  height: 158px;
}


.bomba-subtitle{
  margin-top: 12px;
}

.league-title > a{
  color: #969696;
}


.bomba-article-title > a{
  font-weight: bold;
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 0px;
}


.bomba-content{
  padding-top: 10px;
}


.only-one{
  direction:rtl;
}

.play-main-article-div{
  position: absolute;
  width: 59px;
  height: 38px;
  margin: 0px;
  background-position: 0px 0px;
  right: 74%;
  top: 60%;
}

.red-mark-article-div{
  position: absolute;
  width: 59px;
  height: 38px;
  margin: 0px;
  background-position: 0px 0px;
  left: -15px;
  top: 8px;

}


.play-main{
  width: 50px;
}

.play-main-article-picture-div{
  position: absolute;
  width: 59px;
  height: 38px;
  margin: 0px;
  background-position: 0px 0px;
  right: 74%;
  top: 53%;

}


.author-time-box{
  position: absolute;
  display: flex;
  color: #222222;
  justify-content: end;
  padding-top: 30px;
  flex-direction: row;
  column-gap: 10px;
  right: 8px;
  bottom: 10px;
}


.comment {
  position: absolute;
  left: 0px;
  bottom: 10px;
  display: inline-block;
  padding: 3px;
  font-size: 12px;
  border: 3px solid #014bad; 
  border-radius: 5px;
  color: #014bad;
  overflow: hidden;
  cursor: pointer;;
}

.comment:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.comment:hover{
  text-decoration: underline;
}




.video-most-viewed{
  display: flex;
  background-color: rgb(0, 68, 176);
  color: white;
  height: 30px;
  font-size: 25px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: end;
  align-items: center;
}


.VOD{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  height: 30px;
}



.VOD-holder > a{
  color: white;
  padding-right: 8px;
  font-size: 20px;

}



.video-container{
  display: flex;
  column-gap: 7px;
  margin-top: 5px;
}


.video-picture{
  width: 228px;
  height: 174px;
}

.video-desc{
  font-weight: bold;
}

.video-text-desc{
  width: 210px;
  text-align: end;
}


.arrow-r-btn{
  position: absolute;
  right: 7px;
  top: 75px;
  cursor: pointer;
}


.arrow-l-btn{
  position: absolute;
  left: 7px;
  top: 75px;
  cursor: pointer;
}



.isreal-football-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0044B0;
  height: 30px;
  margin-top: 10px;
}

.international-football-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 2, 2);
  height: 30px;
  margin-top: 10px;
}


.opinions-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141c27;
  height: 30px;
  margin-top: 10px;
}


.basketball-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 90, 0);
  height: 30px;
  margin-top: 10px;
}

.car-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(89, 97, 108);
  height: 30px;
  margin-top: 10px;
}


.additional-branches-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e9b00;
  height: 30px;
  margin-top: 10px;
}


.podcasts-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #691e32;
  height: 30px;
  margin-top: 10px;
}

.last-row-2{
  border-top-style: solid;
  border-top-width: 4px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.holder{
  background-color: #f3f3f390;
}

.last-container{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 15px;
}


.international-football-t ,.VOD-t ,.isreal-football-t,.basketball-t,.additional-branches-t,.general-t{
  display: flex;
  justify-content: end;
  font-weight: bold;
}

.frame{
  padding-top: 15px;
  margin-bottom: 8px;
  
}
.frame::before{
  content: "";
  position: absolute;
  top: 18px;
  right: -20px;
  bottom: 5px;
  border-right: 2px solid #cad0d6;
}



ul{
  list-style-type: none;
  margin: 0px;
}



/* .frame ul li a{
  font-weight: normal;
  color: #535353;

} */
.frame ul li a {
  font-weight: normal;
  font-size: 16px;
  color: #535353;

}



.international-football-div ,.VOD-div ,.isreal-football-div,.basketball-div,.additional-branches-div,.general-div{
  position: relative;
  display:inline-block;

}

.logo-matrix{
  display: flex;
  justify-content: start;
  align-items: start;
}


.sport5-media{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.sport5-social-media-container{
  background-color: #DA171D;
  display: flex;
  margin-bottom: 0px;
}

.social-media{
  display: flex;
  margin-bottom: 0px;
  margin-top: 20px;
}
.fb-share-text{
  color: white;
  font-size: 24px;
  text-align: right;
  padding-right: 10px;

}

.fb-share-text div + div::before {

  color: white;
  font-size: 24px;
  content: ":";
}

.social-media-picture{
  width: 48px;
  height: 50px;
}



.level-3-links{
  display: flex;
  margin-top: 20px;
}

table {
  color: black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

